<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Portafolio</title>
    <link rel="stylesheet" href=".././css/estilos.css">
    
    <!--scripts-->
    <script src=".././js/galeria.js"></script>
</head>

<body>
    <!--MENU-->
    <!--contenedor menu-->
    <div class="contenedormenu">

        <!--logo-->
        <div>
            <a href=".././index.html"><img src=".././images/LogoJCC.png" alt="logo isometrico JCC" height="300"
                    width="140"></a>
        </div>

        <!--navegador-->
        <nav>
            <ul>
                <li><a href=".././views/galeria.html" class="indicador">Portafolio</a></li>
                <li><a href=".././views/presupuesto.html">Presupuesto</a></li>
                <li><a href=".././views/contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <!--copy/marca/cierre-->
        <div>
            <p>JCC © 2025</p>
        </div>
    </div>

    <!--titulo-->
    <section class="titulo">
        <h1>PORTAFOLIO</h1>
    </section>

    <!--galeria-->
    <div class="galeria-caja">

        <!--imagenes-->
        <div class="galeria">
            <img src=".././images/RedesSociales.jpg" alt="Presentación de la sección Redes Sociales" class="galeria-img" height="162" width="252">
            <img src=".././images/RS1.jpg" alt="Collage de publicaciones en redes sociales" class="galeria-img" height="162" width="252">
            <img src=".././images/Branding.jpg" alt="Presentación de la sección Branding" class="galeria-img" height="162" width="252">
            <img src=".././images/B1.jpg" alt="Presentación del logotipo The Hanger" class="galeria-img" height="162" width="252">
            <img src=".././images/B2.jpg" alt="Presentación del logotipo Loyalty Sense" class="galeria-img" height="162" width="252">
            <img src=".././images/B3.jpg" alt="Presentación del logotipo Entrevoces" class="galeria-img" height="162" width="252">
            <img src=".././images/B4.jpg" alt="Presentación de imagen de marca Steelser" class="galeria-img" height="162" width="252">
            <img src=".././images/B5.jpg" alt="Presentación de imagen de marca y logotipo Tirzay" class="galeria-img" height="162" width="252">
            <img src=".././images/B6.jpg" alt="Presentación de volante Aquagroup" class="galeria-img" height="162" width="252">
            <img src=".././images/Fotomontaje.jpg" alt="Presentación de la sección Fotomontaje" class="galeria-img" height="162" width="252">
            <img src=".././images/FM1.jpg" alt="Fotomontaje de un coche azul sobre fondo solido amarillo" class="galeria-img" height="162" width="252">
            <img src=".././images/FM2.jpg" alt="Fotomontaje de las tres regiones del Perú para el curso de gestión" class="galeria-img" height="162" width="252">
            <img src=".././images/ATL.jpg" alt="Presentación de seccion ATL" class="galeria-img" height="162" width="252">
            <img src=".././images/atl1.jpg" alt="Volante informativo sobre el curso de Relaciones Comunitarias y Responsabilidad Social" class="galeria-img" height="162" width="252">
            <img src=".././images/atl2.jpg" alt="Volante informativo sobre el curso de Proyectos de Inversión" class="galeria-img" height="162" width="252">
        </div>

        <!--lightbox-->
        <div class="lightbox" id="lightbox">
            <span class="close">&times;</span>
            <img class="lightbox-img" id="lightbox-img" alt="Imagen ampliada del original" src=".././images/Fotomontaje.jpg" height="162" width="252">
        </div>
    </div>

    <!--FOOTER-->
    <footer>
        <div class="lista-uno">
            <h3>JCC | Jose Carlos Castro</h3>
            <p>Diseñador y desarrollador enfocado en crear soluciones digitales y de comunicación.</p>
        </div>
        <div class="lista-dos">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="#">Behance</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="lista-tres">
            <h3>Contacto</h3>
            <ul>
                <li>Número: 987654312</li>
                <li>Correo Electrónico: jccaspet@gmail.com</li>
            </ul>
        </div>
    </footer>
    
</body>



</html>